* {
    background: whitesmoke;
    font-family: "Adobe Garamond Pro";
    src: url("//db.onlinewebfonts.com/t/cde8cf60fc5af2eae40d1222d8bbd58e.eot");
    animation: textColor 4s forwards;
    transition: all 1s;
}

#nameHeader {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    animation: fade-in 2s;
}

#image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation: fade-in 5s;

}

#image:hover {
    scale: 120%;
    box-shadow: 5px 5px gray;
    opacity: 0.8;


}

.dropdown {
    animation: fade-in 7s;
    animation-delay: 3
}

.skills {
    display: flex;
    justify-content: space-between;

}

.columnar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width:500px) {
    .skills {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        list-style-type: none;
    }

    .skills ul {
        list-style-type: none;
        margin-right: 30px;
    }

}

.headers {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;

}

.display {
    display: none;
}

.displayOn {
    display: block;
}

.headers:hover {
    /* animation: enlarge .5s forwards; */
    font-size: 26px;

}

/* .headers:hover::after {
    animation: enlarge .5s;
    animation-direction: reverse; */


#linkFormat li a {
    color: darkblue !important;
    text-decoration: none;
    margin-right: 37px
}

#linkFormat2 li a {
    color: darkblue !important;
    text-decoration: none;
}

.sidescroll {
    animation: sidescroll 4;
}

.clickButton {
    box-shadow: 2px 2px gray;
    animation: fade-in 2s;
}

.form-control {
    box-shadow: 2px 2px gray;
}

#msgBox {
    width: 260px;
    height: 160px;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

@keyframes blinking-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes enlarge {
    from {
        font-size: 20px;
    }

    to {
        font-size: 26px;
    }
}

@keyframes sidescroll {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes textColor {
    from {
        color: whitesmoke;
    }

    to {
        color: black;
    }
}




/*@import url(//db.onlinewebfonts.com/c/cde8cf60fc5af2eae40d1222d8bbd58e?family=Adobe+Garamond+Pro);