* {
    background: whitesmoke;
    font-family: "Adobe Garamond Pro";
    src: url("//db.onlinewebfonts.com/t/cde8cf60fc5af2eae40d1222d8bbd58e.eot");
    animation: fade-in 1s;
}

#nameHeader {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.skills {
    display: flex;
    justify-content: space-between;

}


@media (max-width:500px) {
    .skills {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        list-style-type: none;
    }

    .skills ul {
        list-style-type: none;
        margin-right: 30px;
    }

}

.headers {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.display {
    display: none;
}

.displayOn {
    display: block;
}

.headers:hover {
    animation: enlarge .5s forwards;
}

#linkFormat li a {
    color: darkblue;
    text-decoration: none;
}

#sidescroll {
    animation: sidescroll 4;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

@keyframes blinking-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes enlarge {
    from {
        font-size: 20px;
    }

    to {
        font-size: 26px;
    }
}

@keyframes sidescroll {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@media(min-width: 1200px) {
    font-size: 5rem;
}

@media(max-width: 800px) {
    font-size: 3rem;
}


/*@import url(//db.onlinewebfonts.com/c/cde8cf60fc5af2eae40d1222d8bbd58e?family=Adobe+Garamond+Pro);